[project]
	description = the project 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ZhuZijun
[access "refs/for/refs/*"]
	read = group user/ZhuZijun
	push = group user/ZhuZijun
	label-Code-Review = -2..+2 group user/ZhuZijun
	label-Verified = -1..+1 group user/ZhuZijun
	rebase = group user/ZhuZijun
	removeReviewer = group user/ZhuZijun
	submit = group user/ZhuZijun
[access "refs/heads/*"]
	read = group user/ZhuZijun
	create = group user/ZhuZijun
	push = +force group user/ZhuZijun
	pushMerge = group user/ZhuZijun
[access "refs/tags/*"]
	push = +force group user/ZhuZijun
	pushTag = group user/ZhuZijun
	pushSignedTag = group user/ZhuZijun
